%h2 Liste de cadeaux

%p On est déjà pas mal équipé mais si vous désirez nous faire un cadeau voici quelques idées.

#gifts
  -for gift in @gifts
    .gift
      
      .pic
        %a{ :href => gift.link, :target => "_blank" }
          %img{:src => gift.pic }
      
      .gift_description
        %h3= link_to gift.name, gift.link, :target => "_blank"
        .description
          = textilize(gift.description)
        .price
          prix approx.
          = gift.price
          €

.clear
- if show_admin?
  =link_to "ajouter un cadeau", new_gift_path, :class => "button"
  
  