!!! 5
%html
  %head
    %title Lily et Franck
    
    =stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
    =stylesheet_link_tag 'compiled/print.css', :media => 'print'
    /[if lt IE 8]
      =stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
    
    =stylesheet_link_tag 'compiled/styles.css', :media => 'screen, projection'
    
    =stylesheet_link_tag "form", "colorbox"
    
    %link{:href => 'http://fonts.googleapis.com/css?family=IM+Fell+Double+Pica+SC', :rel => 'stylesheet', :type => 'text/css'}
    
    =javascript_include_tag :defaults, "jquery.colorbox-min"
    =yield(:head)
    
    %script{ :type => "text/javascript", :charset => "utf-8" }
      :erb
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-17294900-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    
  %body#public
    .container
      #header
        %h1 
          %a{:href => "/" } Lily, Franck et ...
      #content
        #top
          %h1 
            %a{:href => "/" } Notre petite Alix !
          
          #nav
            %ul
              %li= link_to 'Blog', root_url
              %li= link_to 'Photos', albums_url
              %li= link_to 'Cadeaux', gifts_url
        
        #intro
          - if params[:controller] == "posts"
            %p Bienvenue sur le site officiel de miss crevette !          
            %p Au menu, les dernières nouvelles et photos de la star ainsi que quelques idées de cadeaux.
            
        =render(:partial => "/shared/gallery" )
        
        #main      
          =yield
          
        #sidebar
          =yield(:sidebar)
          
      #footer

  =yield(:foot)